.button-container {
  min-width: 165px;
  width: 100%;
  height: 50px;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 0 0 0;
  font-size: 12px;
  background-color: #712a04;
  color: white;
  text-transform: uppercase;
  //font-family: "Open Sans Condensed";
  font-weight: bolder;
  border: none;
  cursor: pointer;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  -webkit-box-pack: center;

  -ms-flex-pack: center;

  justify-content: center;

  border-radius: 11px;

  -webkit-transition: all 0.7s ease;

  -o-transition: all 0.7s ease;

  transition: all 0.7s ease;

  &:hover,
  &:active {
    background-color: white;
    color: #712a04;
    border: 1px solid black;
  }

  &.label {
    background-color: white;
    color: #712a04;
    border: 1px solid black;

    cursor: auto;
  }

  &.google-sign-in {
    background-color: #4285f4;
    color: white;

    &:hover {
      background-color: #fff;
      color: #4285f4;
      border: 1px solid black;
      //border: none;
    }
  }

  &.facebook-sign-in {
    background-color: #0048bb;
    color: white;

    &:hover {
      background-color: #fff;
      color: #0048bb;
      border: 1px solid black;
      //border: none;
    }
  }

  &.inverted {
    background-color: white;
    color: black;
    border: 1px solid black;

    &:hover {
      background-color: black;
      color: white;
      border: none;
    }
  }
}

@media screen and (max-width: 26em) {
  .button-container {
    width: 20px;
    height: 20px;
    letter-spacing: 0.5px;
    line-height: 20px;
    font-size: 1.2rem;
  }
}
