.hero-container {
  height: 75vh;

  position: relative;

  video {
    width: 100%;
    max-width: 100%;
    height: 100%;
    -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: center center;
    object-position: center center;
  }

  .hero-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    position: absolute;
    left: 10%;
    top: 50%;
    -webkit-transform: translate(-10%, -50%);
    -ms-transform: translate(-10%, -50%);
    transform: translate(-10%, -50%);

    color: #fff;

    .hero-heading {
      font-size: 7rem;
      font-weight: 700;
      line-height: 1.05;
      letter-spacing: -0.5px;

      //margin-bottom: 3.2rem;

      //color: #ffd700;
      color: #fff;
    }

    .hero-description {
      font-size: 2.4rem;
      //font-weight: 700;
      line-height: 1.2;
      letter-spacing: -0.5px;

      margin-bottom: 3.2rem;
    }

    .hero-link {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      background-color: #fff;
      border: none;

      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      text-align: center;

      cursor: pointer;

      -webkit-transition: all 0.7s ease;

      -o-transition: all 0.7s ease;

      transition: all 0.7s ease;

      border-radius: 11px;

      span {
        font-size: 1.8rem;
        font-weight: 500;
        font-family: "Rubik", sans-serif;
        color: #712a04;
      }

      &:active,
      &:hover {
        background-color: #712a04;

        span {
          color: #fff;
        }
      }
    }
  }
}
