.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 12rem;
  width: 100vw;
  max-width: 100%;

  padding: 0 6rem;

  box-shadow: 0 1.2rem 3.2rem rgb(0 0 0 / 3%);

  z-index: 9999;

  animation: fadeIn 1.25s ease-in-out;

  //background-color: #fff;
  background-color: #712a04;

  .header-logo-link {
    margin-right: 4rem;

    .header-logo {
      height: 8rem;
    }
  }

  &.sticky {
    position: fixed;
    top: 0;
    bottom: 0;

    width: 100%;

    height: 12rem;

    // padding: 0 4.8rem;

    background-color: rgba(13, 14, 16, 0.8);

    animation: moveDown 1.25s ease-in-out;

    .nav-bar-container {
      .nav-bar-link {
        color: #fff;
      }
    }
  }

  &.sticky + .hero-container {
    padding-top: 12rem;
  }

  .btn-mobile-nav {
    border: none;
    background: none;
    cursor: pointer;

    display: none;

    .icon-mobile-nav {
      height: 4.8rem;
      width: 4.8rem;
      color: #ffd700;
    }

    .icon-mobile-nav[name="menu-outline"] {
      animation: rollForward 1s;
      //transform: rotate(90deg);
      //display: none;
    }

    .icon-mobile-nav[name="close-outline"] {
      //transform: rotate(90deg);
      display: none;
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes moveDown {
    from {
      transform: translateY(-12rem);
    }
    to {
      transform: translateY(0rem);
    }
  }

  @keyframes rollForward {
    0% {
      transform: rotate(0);
    }
    100% {
      transform: rotate(360deg);
    }
  }

  @keyframes rollReverse {
    0% {
      transform: rotate(360deg);
    }
    100% {
      transform: rotate(0);
    }
  }
}

@media (max-width: 59em) {
  /* MOBILE NAVIGATION */

  .hero-container {
    padding-top: 12rem;
  }

  .header-container {
    display: flex;
    //float: right;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    width: 100%;

    overflow-x: hidden;

    .btn-mobile-nav {
      display: flex;

      //float: right;

      //position: fixed;
      //top: 0;
      //bottom: 0;
      //right: 0;
      //left: 0;

      z-index: 9999;
    }

    &.nav-open {
      .icon-mobile-nav[name="close-outline"] {
        display: block;
        animation: rollReverse 1s;
      }

      .icon-mobile-nav[name="menu-outline"] {
        //animation: rollForward 2s;
        display: none;
      }

      .nav-bar-container {
        opacity: 1;
        pointer-events: auto;
        visibility: visible;
        transform: translateX(0);

        //background-color: rgba(0, 151, 0, 0.8);

        .nav-bar-link {
          color: #0d0e10;

          &:hover,
          &:active {
            color: #777;
          }
        }
      }
    }
  }

  .nav-bar-container {
    display: flex;

    align-items: center;
    justify-content: center;

    flex-direction: column;

    gap: 4.8rem;

    background-color: rgba(255, 255, 255, 0.85);
    position: fixed;
    top: 0;
    left: 0;

    width: 100%;
    height: 100vh;

    transform: translateX(100%);

    transition: all 0.5s ease-in;

    // /* Hide navigation */
    opacity: 0;

    // /* Make it unacessible to mouse and keyboard */
    pointer-events: none;
  }
}
