.delivery-container {
  display: flex;
  align-items: center;
  justify-content: center;

  gap: 2rem;

  width: 100vw;
  height: 20vh;

  //background-color: #7cfc00;

  //background-image: linear-gradient(#0d0e10, #b39700);

  border-top: 1px solid #b39700;

  border-bottom: 1px solid #b39700;

  color: #fff;

  .delivery-icon {
    height: 2.8rem;
  }

  .delivery-text {
    font-size: 1.6rem;
    font-weight: 400;
  }
}
