@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.section-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  padding: 8.4rem 0;

  padding-top: 0;

  .delivery-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 8.4rem;

    .delivery-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      width: 100vw;
      max-width: 100%;
      height: 30vh;

      background: url("../../assets/delivery.jpg") center bottom;

      background-attachment: fixed;
      background-size: cover;

      span {
        font-size: 5rem;
        font-weight: 600;
        color: #fff;
      }
    }

    .delivery-entrega {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      width: 90vw;
      height: 600px;

      margin: 0 auto;

      border: 3px solid #ffd700;

      border-radius: 11px;

      overflow: hidden;

      .delivery-entrega-image {
        display: block;

        background-image: url("../../assets/fettucine-2.jpg");
        background-repeat: no-repeat;
        background-size: 80%;
        background-attachment: fixed;
        background-position: bottom right 600px;

        -o-object-fit: cover;

        object-fit: cover;

        width: 100%;
        height: 100%;
      }

      .delivery-entrega-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        width: calc(100% - 12.8rem);
        height: 100%;
        background-color: #712a04;

        padding: 12rem 6.4rem;

        .ifood-button {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;

          gap: 2rem;
        }

        .social-link {
          font-size: 1.6rem;
          color: #fff;
          -webkit-transition: all 0.7s;
          -o-transition: all 0.7s;
          transition: all 0.7s;

          .social-icon {
            width: 4rem;
            height: 100%;
          }

          &.ifood .social-icon {
            width: 5rem;
            height: 100%;
          }
        }

        h1 {
          font-size: 4rem;
          font-weight: 700;
          color: #fff;

          margin-bottom: 3.6rem;
        }

        p {
          font-size: 2rem;
          line-height: 1.2;
          color: #fff;
        }
      }
    }

    .delivery-pratos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      gap: 10rem;

      .delivery-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        //border: 3px solid #ffd700;

        //border-radius: 11px;

        overflow: hidden;

        gap: 4rem;

        .delivery-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          width: 90vw;
          height: 600px;

          margin: 0 auto;

          .delivery-item-slider {
            width: 50%;
            height: 100%;

            .slides {
              width: 100%;
              height: 701px;
              position: relative;

              img {
                width: 100%;
                height: 100%;
              }

              h2 {
                position: absolute;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                transform: translate(-50%, -50%);
                color: white;
                font-size: 23px;
                -webkit-transition: all 300ms ease;
                -o-transition: all 300ms ease;
                transition: all 300ms ease;
                text-transform: uppercase;
              }
            }
          }

          .delivery-item-text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            width: calc(100% - 12.8rem);
            height: 100%;
            //background-color: #fff;

            padding: 12rem 6.4rem;

            h1 {
              font-size: 4rem;
              font-weight: 700;
              color: #712a04;

              margin-bottom: 3.6rem;
            }

            p {
              font-size: 2rem;
              line-height: 1.2;
              color: #333;
            }
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@media screen and (max-width: 84em) {
  .section-delivery {
    .delivery-container {
      .delivery-header {
        height: 25vh;

        span {
          font-size: 4.6rem;
        }
      }

      .delivery-entrega {
        //width: 90vw;
        height: 530px;

        .delivery-entrega-image {
          background-size: 100%;
          background-position: bottom right 530px;
        }

        .delivery-entrega-text {
          width: calc(100% - 9.6rem);
          height: 100%;

          padding: 4.8rem;

          .ifood-button {
            gap: 2rem;
          }

          .social-link {
            font-size: 1.6rem;

            .social-icon {
              width: 3.6rem;
              height: 100%;
            }

            &.ifood .social-icon {
              width: 4.8rem;
              height: 100%;
            }
          }

          h1 {
            font-size: 3.6rem;

            margin-bottom: 3.6rem;
          }

          p {
            font-size: 1.8rem;
            line-height: 1.2;
          }
        }
      }

      .delivery-pratos {
        gap: 10rem;

        .delivery-items {
          gap: 4rem;

          .delivery-item {
            //width: 90vw;
            height: 530px;

            .delivery-item-slider {
              width: 50%;
              height: 100%;

              .slides {
                //width: 100%;
                height: 530px;
              }
            }

            .delivery-item-text {
              width: calc(100% - 9.6rem);
              height: 100%;

              padding: 4.8rem;

              h1 {
                font-size: 3.6rem;

                margin-bottom: 3.6rem;
              }

              p {
                font-size: 1.8rem;
                line-height: 1.2;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 26em) {
  .section-delivery {
    .delivery-container {
      gap: 4.8rem;
      .delivery-header {
        height: 15vh;

        span {
          font-size: 3.2rem;
        }
      }

      .delivery-entrega {
        //width: 90vw;
        height: 175px;

        .delivery-entrega-image {
          background-size: 100%;
          background-position: center center;
        }

        .delivery-entrega-text {
          width: calc(100% - 2.4rem);
          height: 100%;

          padding: 1.2rem;

          .ifood-button {
            gap: 2rem;
          }

          .social-link {
            font-size: 1.6rem;

            .social-icon {
              width: 2rem;
              height: 100%;
            }

            &.ifood .social-icon {
              width: 3rem;
              height: 100%;
            }
          }

          h1 {
            font-size: 1.4rem;

            margin-bottom: 1.4rem;
          }

          p {
            font-size: 1rem;
            line-height: 1;
          }
        }
      }

      .delivery-pratos {
        gap: 10rem;

        .delivery-items {
          gap: 4rem;

          .delivery-item {
            //width: 90vw;
            height: 175px;

            .delivery-item-slider {
              width: 50%;
              height: 100%;

              .slides {
                //width: 100%;
                height: 175px;
              }
            }

            .delivery-item-text {
              width: calc(100% - 2.4rem);
              height: 100%;

              padding: 1.2rem;

              h1 {
                font-size: 1.4rem;

                margin-bottom: 1.4rem;
              }

              p {
                font-size: 1rem;
                line-height: 1;
              }
            }
          }
        }
      }
    }
  }
}
