.section-cta {
  flex-direction: column;

  //background-image: url("../../assets/background-preto.jpg");

  background-repeat: repeat;

  background-position: center;

  padding-top: 2.4rem;

  //background-size: cover;

  .cta-container {
    background-color: #712a04;
    border-top: 1px #ffd700 solid;
    border-bottom: 1px #ffd700 solid;
    display: flex;
    height: 10vh;
    //flex-direction: column;
    align-items: center;
    justify-content: center;

    gap: 2.4rem;

    .cta-span {
      font-size: 5rem;
      color: #fff;
    }

    .arrow-icon {
      font-size: 1.6rem;
      color: #fff;
      transition: all 0.7s;

      width: 5.5rem;
      height: 100%;
    }

    .social-links {
      display: grid;
      align-items: center;
      justify-content: center;
      grid-template-columns: repeat(5, 1fr);
      gap: 1.2rem;

      .social-link {
        font-size: 1.6rem;
        color: #fff;
        transition: all 0.7s;

        .social-icon {
          width: 4rem;
          height: 100%;
        }

        &.ifood .social-icon {
          width: 5rem;
          height: 100%;
        }

        &.facebook:hover,
        &.facebook:active {
          transform: scale(1.1);
          color: #4267b2;
        }

        &.instagram:hover,
        &.instagram:active {
          transform: scale(1.1);
          color: #c13584;
        }

        &.whatsapp:hover,
        &.whatsapp:active {
          transform: scale(1.1);
          color: #25d366;
        }

        &.ifood:hover,
        &.ifood:active {
          transform: scale(1.1);
          color: red;
        }
      }
    }
  }
}
