.quem-somos-container {
  .quem-somos-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    width: 100%;
    min-height: 10.4rem;
    border-bottom: 1px solid #b39700;
    //background-image: url(https://assets.betalabs.net/production/clubemassa/images/stores/1/interna.jpg);
    //background-position: center;
    //background-size: cover;
    text-align: center;

    .quem-somos-title {
      font-size: 3.8rem;
      font-weight: 700;
      color: #b39700;
      display: block;
      margin: 0 0 10px;
      padding-top: 20px;
    }

    .quem-somos-section {
      font-size: 1.2rem;
      font-weight: 600;
      color: #999;
      text-transform: uppercase;
    }
  }

  .quem-somos-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    //flex-wrap: wrap;

    gap: 3rem;

    -webkit-box-pack: justify;

    -ms-flex-pack: justify;

    justify-content: space-between;

    width: 100%;
    max-width: 1170px;
    margin: 0 auto;

    .quem-somos-menu {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      //align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      width: 100%;
      height: 30vh;
      max-width: 23.4rem;
      margin-top: 90px;
      margin-bottom: 120px;
      //margin: 0 auto;

      row-gap: 2rem;

      border: 0.5px solid #b39700;

      //border-radius: 11px;

      -webkit-animation: fadeIn 2s;

      animation: fadeIn 2s;

      .quem-somos-menu-title {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;

        width: 100%;

        //border-bottom: 1px solid #b39700;

        h2 {
          font-size: 2.4rem;
          font-weight: 700;
          color: #b39700;
          display: block;
        }

        hr {
          margin: 30px 0 25px;
          border: 0.5px solid #b39700;
          width: 100%;
        }
      }

      .quem-somos-links {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        gap: 2rem;

        .quem-somos-link {
          font-size: 1.5rem;
          font-weight: 400;
          color: #666;
          display: block;
          //margin-bottom: 10px;
          -webkit-transition: all 0.7s;
          -o-transition: all 0.7s;
          transition: all 0.7s;

          &:last-child {
            margin-bottom: 0;
          }

          &:active,
          &:hover {
            color: #ffd700;
            -webkit-transform: translateX(0.7rem);
            -ms-transform: translateX(0.7rem);
            transform: translateX(0.7rem);
          }
        }
      }
    }
  }

  .quem-somos-text {
    width: 100%;
    max-width: 87rem;
    margin-top: 90px;
    margin-bottom: 120px;

    color: #666;

    -webkit-animation: moveLeft 2s;

    animation: moveLeft 2s;

    .quem-somos-a {
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 2.1;

      text-align: left;

      margin-top: 0;
      margin-bottom: 1rem;
    }

    p {
      font-size: 2rem;
      font-weight: 700;
      line-height: 2.1;

      text-align: left;

      margin-top: 0;
      margin-bottom: 1rem;
    }
  }
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes moveLeft {
  from {
    -webkit-transform: translateX(12rem);
    transform: translateX(12rem);
  }
  to {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}

@keyframes moveLeft {
  from {
    -webkit-transform: translateX(12rem);
    transform: translateX(12rem);
  }
  to {
    -webkit-transform: translateY(0rem);
    transform: translateY(0rem);
  }
}
