.footer {
  padding: 12.8rem 0;

  border-top: 1px solid #eee;

  .footer-container {
    display: grid;
    grid-template-columns: 1.5fr 1.5fr 1fr 1fr 1fr;
    column-gap: 6.4rem;
    row-gap: 9.6rem;

    max-width: 120rem;

    padding: 0 3.2rem;

    margin: 0 auto;

    .logo-container {
      display: flex;
      flex-direction: column;

      .footer-logo {
        margin-bottom: 3.2rem;

        .logo {
          height: 7.4rem;
        }
      }

      .social-links {
        display: flex;
        gap: 2.4rem;

        .social-link {
          font-size: 1.6rem;
          color: #767676;
          transition: all 0.3s;

          .social-icon {
            height: 2.4rem;
          }

          &.youtube:hover,
          &.youtube:active {
            transform: scale(1.1);
            color: #ff0000;
          }

          &.facebook:hover,
          &.facebook:active {
            transform: scale(1.1);
            color: #4267b2;
          }

          &.instagram:hover,
          &.instagram:active {
            transform: scale(1.1);
            color: #c13584;
          }
        }
      }

      .copyright {
        font-size: 1.4rem;
        line-height: 1.6;
        color: #767676;

        margin-top: auto;
      }
    }

    .contact-container {
      .footer-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4rem;
      }

      .contact-info-heading {
        font-size: 1.6rem;
        line-height: 1.6;

        .address-info {
          margin-bottom: 2.4rem;
        }

        .contact-info {
          .footer-link {
            font-size: 1.6rem;
            color: #767676;
            transition: all 0.3s;

            &:hover,
            &:active {
              color: #555;
            }
          }
        }
      }
    }

    .nav-container {
      .nav-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4rem;
      }

      .footer-cards-nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;
        // display: flex;
        // gap: 2.4rem;

        .footer-card {
          height: 2.2rem;
          //font-size: 1.6rem;
          color: #767676;
          //transition: all 0.3s;
        }
      }

      .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        .footer-link {
          font-size: 1.6rem;
          color: #767676;
          transition: all 0.3s;

          &:hover,
          &:active {
            color: #555;
          }
        }
      }
    }
  }
}
