.footer {
  padding: 2rem 0;

  border-top: 1px solid #b39700;

  background-color: #712a04;

  width: 100vw;
  max-width: 100%;

  &.gourmet {
    background-color: #2d1102;
  }

  .footer-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1.5fr 2.4rem 1fr 2.4rem 1fr 2.4rem 1fr;
    grid-template-columns: 1.5fr 1fr 1fr 1fr;
    -webkit-column-gap: 3rem;
    -moz-column-gap: 3rem;
    column-gap: 3rem;
    //row-gap: 9rem;

    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;

    .logo-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;

      .footer-logo {
        margin-bottom: 1.8rem;

        .logo {
          height: 8rem;
          width: 100%;
        }
      }

      .social-links {
        display: -ms-grid;
        display: grid;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-grid-columns: 1fr 2.4rem 1fr 2.4rem 1fr 2.4rem 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;

        .social-link {
          font-size: 1.6rem;
          color: #fff;
          -webkit-transition: all 0.7s;
          -o-transition: all 0.7s;
          transition: all 0.7s;

          .social-icon {
            width: 2.5rem;
            height: 100%;
          }

          &.ifood .social-icon {
            width: 3rem;
            height: 100%;
          }

          &.youtube:hover,
          &.youtube:active {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: #ff0000;
          }

          &.facebook:hover,
          &.facebook:active {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: #4267b2;
          }

          &.instagram:hover,
          &.instagram:active {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: #c13584;
          }

          &.whatsapp:hover,
          &.whatsapp:active {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: #25d366;
          }

          &.email:hover,
          &.email:active {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: red;
          }

          &.ifood:hover,
          &.ifood:active {
            -webkit-transform: scale(1.1);
            -ms-transform: scale(1.1);
            transform: scale(1.1);
            color: red;
          }
        }
      }
    }

    .contact-container {
      .footer-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4rem;
        color: #fff;
      }

      .contact-info-heading {
        font-size: 1.6rem;
        line-height: 1.6;

        .address-info {
          color: #fff;
          margin-bottom: 2.4rem;
        }

        .contact-info {
          color: #fff;
          .footer-link {
            font-size: 1.6rem;
            color: #fff;
            -webkit-transition: all 0.3s;
            -o-transition: all 0.3s;
            transition: all 0.3s;

            &:hover,
            &:active {
              color: #b39700;
            }
          }
        }
      }
    }

    .nav-container {
      .nav-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4rem;
        color: #fff;
      }

      .footer-cards-nav {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 2.4rem 1fr 2.4rem 1fr 2.4rem 1fr;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;

        .footer-card {
          height: 2.4rem;
          width: 100%;
          color: #767676;
        }
      }

      .footer-nav {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        gap: 2.4rem;

        .footer-link {
          font-size: 1.6rem;
          color: #fff;
          -webkit-transition: all 0.7s;
          -o-transition: all 0.7s;
          transition: all 0.7s;

          &:hover,
          &:active {
            color: #ffd700;
          }
        }
      }
    }
  }
}

.copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;

  font-size: 1.4rem;
  line-height: 1.6;
  color: #712a04;

  width: 100vw;
  max-width: 100%;

  background-color: #fff;

  //margin-top: auto;
}

@media screen and (max-width: 84em) {
  .footer {
    //padding: 2rem 0;

    .footer-container {
      -webkit-column-gap: 3rem;
      -moz-column-gap: 3rem;
      column-gap: 3rem;

      max-width: 120rem;
      padding: 0 3.2rem;

      .logo-container {
        .footer-logo {
          margin-bottom: 1.6rem;

          .logo {
            height: 7.6rem;
            width: 100%;
          }
        }

        .social-links {
          gap: 2.4rem;

          .social-link {
            font-size: 1.6rem;

            .social-icon {
              width: 2.2rem;
              height: 100%;
            }
          }
        }
      }

      .contact-container {
        .footer-heading {
          font-size: 1.6rem;
          margin-bottom: 4rem;
        }

        .contact-info-heading {
          font-size: 1.6rem;
          line-height: 1.6;

          .address-info {
            margin-bottom: 2.4rem;
          }

          .contact-info {
            font-size: 1.4rem;
            .footer-link {
              font-size: 1.6rem;
            }
          }
        }
      }

      .nav-container {
        .nav-heading {
          font-size: 1.6rem;
          margin-bottom: 4rem;
        }

        .footer-cards-nav {
          display: -ms-grid;
          display: grid;
          -ms-grid-columns: 1fr 2.4rem 1fr 2.4rem 1fr 2.4rem 1fr;
          grid-template-columns: repeat(4, 1fr);
          gap: 2.4rem;

          .footer-card {
            height: 2.4rem;
            width: 100%;
          }
        }

        .footer-nav {
          gap: 2.4rem;

          .footer-link {
            font-size: 1.4rem;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 34em) {
  .footer {
    .footer-container {
      -webkit-column-gap: 2.6rem;
      -moz-column-gap: 2.6rem;
      column-gap: 2.6rem;

      max-width: 120rem;
      padding: 0 2.4rem;

      .logo-container {
        .footer-logo {
          margin-bottom: 1.6rem;

          .logo {
            height: 5.4rem;
            width: 100%;
          }
        }

        .social-links {
          gap: 1.6rem;

          .social-link {
            font-size: 1.6rem;

            .social-icon {
              width: 1.8rem;
              height: 100%;
            }
          }
        }
      }

      .contact-container {
        .footer-heading {
          font-size: 1.2rem;
          margin-bottom: 4rem;
        }

        .contact-info-heading {
          font-size: 1.6rem;
          line-height: 1.6;

          .address-info {
            margin-bottom: 2.4rem;
          }

          .contact-info {
            font-size: 1rem;
            .footer-link {
              font-size: 1.6rem;
            }
          }
        }
      }

      .nav-container {
        .nav-heading {
          font-size: 1.2rem;
          margin-bottom: 4rem;
        }

        .footer-cards-nav {
          display: -ms-grid;
          display: grid;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -ms-grid-columns: 1fr 2rem 1fr;
          grid-template-columns: repeat(2, 1fr);
          gap: 2rem;

          .footer-card {
            height: 3rem;

            &.ifood {
              height: 3rem;
            }
          }
        }

        .footer-nav {
          gap: 1.4rem;

          .footer-link {
            font-size: 1.2rem;
          }
        }
      }
    }
  }

  .copyright {
    font-size: 1.2rem;
    line-height: 1.6;
  }
}
