.footer {
  padding: 12.8rem 0;

  border-top: 1px solid #b39700;

  .footer-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    column-gap: 6.4rem;
    row-gap: 9.6rem;

    max-width: 120rem;
    padding: 0 3.2rem;
    margin: 0 auto;

    .logo-container {
      display: flex;
      flex-direction: column;

      .footer-logo {
        margin-bottom: 1.8rem;

        .logo {
          height: 8rem;
        }
      }

      .social-links {
        display: flex;
        gap: 2.4rem;

        .social-link {
          font-size: 1.6rem;
          color: #b39700;
          transition: all 0.7s;

          .social-icon {
            height: 2.4rem;
          }

          &.youtube:hover,
          &.youtube:active {
            transform: scale(1.1);
            color: #ff0000;
          }

          &.facebook:hover,
          &.facebook:active {
            transform: scale(1.1);
            color: #4267b2;
          }

          &.instagram:hover,
          &.instagram:active {
            transform: scale(1.1);
            color: #c13584;
          }

          &.whatsapp:hover,
          &.whatsapp:active {
            transform: scale(1.1);
            color: #25d366;
          }

          &.email:hover,
          &.email:active {
            transform: scale(1.1);
            color: red;
          }
        }
      }

      .copyright {
        font-size: 1.4rem;
        line-height: 1.6;
        color: #b39700;

        margin-top: auto;
      }
    }

    .contact-container {
      .footer-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4rem;
        color: #b39700;
      }

      .contact-info-heading {
        font-size: 1.6rem;
        line-height: 1.6;

        .address-info {
          color: #b39700;
          margin-bottom: 2.4rem;
        }

        .contact-info {
          .footer-link {
            font-size: 1.6rem;
            color: #ffd700;
            transition: all 0.3s;

            &:hover,
            &:active {
              color: #b39700;
            }
          }
        }
      }
    }

    .nav-container {
      .nav-heading {
        font-size: 1.8rem;
        font-weight: 500;
        margin-bottom: 4rem;
        color: #b39700;
      }

      .footer-cards-nav {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 2.4rem;

        .footer-card {
          height: 2.2rem;
          color: #767676;
        }
      }

      .footer-nav {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        .footer-link {
          font-size: 1.6rem;
          color: #ffd700;
          transition: all 0.3s;

          &:hover,
          &:active {
            color: #b39700;
          }
        }
      }
    }
  }

  @media (max-width: 75em) {
    padding: 10rem 0;

    .footer-container {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
    }
  }

  @media (max-width: 59em) {
    padding: 9rem 0;

    .footer-container {
      column-gap: 4.8rem;
      row-gap: 6.4rem;
    }
  }

  @media (max-width: 44em) {
    padding: 8rem 0;

    .footer-container {
      grid-template-columns: repeat(6, 1fr);

      .nav-container {
        grid-row: 1;
        grid-column: span 2;
      }

      .logo-container,
      .contact-container {
        grid-column: span 3;
      }
    }
  }

  @media (max-width: 34em) {
    padding: 6.8rem 0;

    .footer-container {
      row-gap: 4.8rem;
    }
  }
}
