.section-enoteca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;

  padding: 8.4rem 0;

  padding-top: 0;

  .enoteca-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 8.4rem;

    .enoteca-header {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      width: 100vw;
      max-width: 100%;
      height: 30vh;

      background: url("../../assets/Banner_Enoteca_1.jpg") right center;

      background-attachment: fixed;
      background-size: cover;

      span {
        font-size: 5rem;
        font-weight: 600;
        color: #fff;
      }
    }

    .enoteca-vinhos {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;

      width: 90vw;
      height: 600px;

      margin: 0 auto;

      border: 3px solid #ffd700;

      border-radius: 11px;

      overflow: hidden;

      .enoteca-vinhos-image {
        width: 100%;
        height: 100%;

        img {
          width: 100%;
          height: 100%;
          -o-object-fit: cover;
          object-fit: cover;
          -o-object-position: left center;
          object-position: left center;
        }
      }

      .enoteca-vinhos-text {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        width: calc(100% - 12.8rem);
        height: 100%;
        background-color: #712a04;

        padding: 12rem 6.4rem;

        h1 {
          font-size: 4rem;
          font-weight: 700;
          color: #fff;

          margin-bottom: 3.6rem;
        }

        p {
          font-size: 2rem;
          line-height: 1.2;
          color: #fff;
        }

        .cardapio-link {
          color: #ffd700;
          -webkit-transition: all 1s ease;
          -o-transition: all 1s ease;
          transition: all 1s ease;

          &:active,
          &:hover {
            color: #b39700;
          }
        }
      }
    }

    .enoteca-harmonia {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;

      gap: 10rem;

      .harmonia-header {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        gap: 2rem;

        color: #333;

        text-align: center;

        .harmonia-heading {
          font-size: 4rem;
          font-weight: 700;
          color: #712a04;
        }
        .harmonia-text {
          font-size: 2rem;
          line-height: 1.2;
        }
      }

      .harmonia-items {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;

        //border: 3px solid #ffd700;

        //border-radius: 11px;

        overflow: hidden;

        gap: 4rem;

        .harmonia-item {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;

          width: 90vw;
          height: 600px;

          margin: 0 auto;

          .harmonia-item-image {
            height: 100%;
            width: 100%;

            overflow: hidden;

            img {
              width: 100%;
              height: 100%;

              -o-object-fit: cover;

              object-fit: cover;
              -o-object-position: left center;
              object-position: left center;

              -webkit-transition: all 0.7s ease;

              -o-transition: all 0.7s ease;

              transition: all 0.7s ease;

              &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
              }
            }
          }

          .harmonia-item-text {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;

            width: calc(100% - 12.8rem);
            height: 100%;
            //background-color: #fff;

            padding: 12rem 6.4rem;

            h1 {
              font-size: 4rem;
              font-weight: 700;
              color: #712a04;

              margin-bottom: 3.6rem;
            }

            p {
              font-size: 2rem;
              line-height: 1.2;
              color: #333;
            }
          }
        }
      }
    }
  }
}
