.nav-bar-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;

  -webkit-column-gap: 4rem;

  -moz-column-gap: 4rem;

  column-gap: 4rem;

  z-index: 9999;

  &.sticky {
    .nav-bar-link {
      font-size: 1.8rem;
      font-weight: 500;
      color: #fff;

      -webkit-transition: all 0.4s;

      -o-transition: all 0.4s;

      transition: all 0.4s;

      text-decoration: none;

      outline: none;

      &:hover,
      &:active {
        color: #ffd700;
        -webkit-transform: translateY(0.5rem);
        -ms-transform: translateY(0.5rem);
        transform: translateY(0.5rem);
      }
    }
  }

  .nav-bar-link {
    font-size: 1.8rem;
    font-weight: 500;
    color: #fff;

    -webkit-transition: all 0.5s ease;

    -o-transition: all 0.5s ease;

    transition: all 0.5s ease;

    text-decoration: none;
    border: none;
    outline: none;

    &:hover,
    &:active {
      color: #ffd700;
      -webkit-transform: translateY(5px);
      -ms-transform: translateY(5px);
      transform: translateY(5px);
    }
  }

  .nav-bar-icons {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;

    gap: 10px;
  }
}

@media screen and (max-width: 84em) {
  .nav-bar-container {
    -webkit-column-gap: 3.6rem;
    -moz-column-gap: 3.6rem;
    column-gap: 3.6rem;

    &.sticky {
      .nav-bar-link {
        font-size: 1.6rem;
      }
    }

    .nav-bar-link {
      font-size: 1.6rem;
    }

    .nav-bar-icons {
      gap: 9.8px;
    }
  }
}

@media screen and (max-width: 34em) {
  .nav-bar-container {
    -webkit-column-gap: 2.4rem;
    -moz-column-gap: 2.4rem;
    column-gap: 2.4rem;

    &.sticky {
      .nav-bar-link {
        font-size: 1rem;
      }
    }

    .nav-bar-link {
      font-size: 1rem;
    }
  }
}
