.nav-bar-container {
  display: flex;
  align-items: center;

  column-gap: 1.6rem;

  .nav-bar-link {
    font-size: 1.6rem;
    font-weight: 500;
    color: #555;

    transition: all 0.3s;
    //padding: 10px 0px;

    &:hover,
    &:active {
      color: red;
      transform: translateY(5px);
      //opacity: 1;
      //transform: translateY(5px);
    }
  }

  .logo-container {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    // display: inline-flex;
    // justify-content: center;
    // align-items: center;

    // height: 56px;
    //width: 80px;

    // border: none;
    // border-radius: 0;

    // border-radius: 50%;
    // box-shadow: 0 0 2px #888;
    // padding: 0.5em 0.6em;

    // margin: 3px 5px;
    // outline: none;
    // transition: 0.1s;
    // position: relative;
    // overflow: hidden;

    .logo {
      width: 100%;
      height: 100%;
    }
  }
}
