.group {
  position: relative;
  margin: 0 0;

  .form-input {
    display: block;

    background: none;
    background-color: white;
    color: #000;

    font-size: 14px;

    padding: 10px 20px 10px 20px;

    width: 100%;

    border: 1px rgb(204, 204, 204) solid;

    border-radius: 8px;

    //border-bottom: 1px solid #999;

    margin: 5px 0;

    outline: none;

    -webkit-transition: all 0.7s ease;

    -o-transition: all 0.7s ease;

    transition: all 0.7s ease;

    &:active,
    &:focus {
      outline: #000 solid 1px;
    }
  }

  input[type="password"] {
    letter-spacing: 0.3rem;
  }

  .form-input-label {
    color: #000;
    font-size: 12px;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 0px;
    top: -14px;
    -webkit-transition: 300ms ease all;
    -o-transition: 300ms ease all;
    transition: 300ms ease all;
  }
}

@media screen and (max-width: 26em) {
  .group {
    .form-input {
      font-size: 1px;

      padding: 5px;

      margin: 5px 0;
    }

    input[type="password"] {
      letter-spacing: 0.3rem;
    }

    .form-input-label {
      font-size: 1px;

      left: 0px;
      top: -5px;
    }
  }
}
